#leaderboardButton{
    position: absolute;
    top:5px;
    right:5px;
    background:white;
    font-size:30px;
    width: auto;
    border-radius: 5px;
    box-shadow: rgb(211, 210, 210) 0px 0px 5px;
    cursor:pointer;
    user-select: none;
    line-height: 40px;
    z-index:999999999;
}
#leaderboardPopup{
    position: absolute;
    top:0px;
    left:0px;
    background:rgba(226, 226, 226, 0.311);
    width:100vw;
    height:100vh;
    border-radius: 5px;
    box-shadow: rgb(211, 210, 210) 0px 0px 5px;
    cursor:pointer;
    user-select: none;
    z-index:999999999;
    display:none;
}
#leaderboardContent{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background:white;
    width:80vw;
    height:80vh;
    border-radius: 5px;
    box-shadow: rgb(211, 210, 210) 0px 0px 5px;
    user-select: none;
    cursor: initial;
    line-height: 40px;
    z-index:9999;
}
#leaderboardHeader{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}
#leaderboardEntries{
    height: calc(80vh - 110px);
    border-radius: 5px;
    padding-left:10px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top:30px;
}
.leaderboardImage{
    border-radius: 5px;
    box-shadow: rgb(211, 210, 210) 0px 0px 5px;
    cursor: pointer;
}
.leaderboardEntry{
    font-weight:bold;
    display:flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    font-size:20px;
}

.leaderboardEntry:last-child::after{
    content: "← This person sucks 💀";
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    transform: rotate(-5deg) translateY(-15px);
    font-size: 13px;
}
.leaderboardEntry:last-child{
    transform:translateX(88px);
}
.leaderContainer{
    position: relative;
}
.leaderContainer::before{
    content: "👑";
    position: absolute;
    top: -33px;
    right: -28px;
    font-size: 45px;
    color: gold;
    transform: rotate(24deg);
    filter: drop-shadow(2px -1px 2px gold);
}
#leaderboardSubtitle{
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: 15px;
    font-size: 15px;
    line-height: 15px;
    padding-bottom: 5px;
}
#leaderboardModeToggle{
    position: absolute;
    top: 13px;
    right: calc(calc(calc(80vw - 370px)/4) - 28px);
    text-decoration: underline;
    cursor: pointer;
}
#rankedToggleContainer{
    position: absolute;
    top:5px;
    left:110px;
    z-index: 999999999;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}